/* 머리 */
body{
    display: contents;
}

.navbar{
    float:right; /*오른쪽 정렬* 영역이 좁아질수있다 /
    /* border:1px solid red; 경계선 테두리를 그려주는 스타일 */
    margin: 20px; /*위아래옆 네방향에 공간을 주겠다는 뜻*/
}

.nav-item{
    text-decoration: none; /*밑줄 없애기 How to remove a tag ubderline? */
    color:black; /* 색깔 바꾸기*/
    margin-right: 15px; /*오른쪽에 15px만큼 공간 주기*/
}

.nav-item:hover{
    text-decoration: underline; /*nav-item 갖고 있는 html에 hover라는 이벤트가 생기면은 이스타일을 실행시켜라*/
}

/* 몸통 */
.main {
    margin-top: 300px;
    text-align: center; /*가운데 정렬*/
}

.input-area{
    margin-top: 20px;
}

.input-box{
    width: 561px;
    height: 44px; /*text입력 박스크기 조절*/
    border-radius: 24px; /*박스 테두리 둥글게 변경*/
    border:1px solid #dfe1e5; /*테투리 색상 변경*/
    padding-left: 40px; /*상자 안쪽에 공간을 줌*/
    padding-right: 40px;
}

.search-icon{
    position : relative; /*html태그들을 어디다 위치시킬까 하는 규칙, relative는 내가 지금있는 위치에서 움직이는 것*/
    left: 40px;         /*그림 아이콘 박스안에 집어넣는 방법*/
    color: #5f6368;
}

.mic-icon{
    position : relative; /*html태그들을 어디다 위치시킬까 하는 규칙, relative는 내가 지금있는 위치에서 움직이는 것*/
    right: 40px;         /*그림 아이콘 박스안에 집어넣는 방법*/
    color: #5f6368;
}

.button-area{
    padding-top:18px;
}

.button-style{
    height:36px;
    background-color: #f8f9fa;
    border : 1px solid #f8f9fa;
    border-radius: 4px;
    font-family: arial,sans-serif;
    padding: 0 16px;
    /*padding은 1개 네방향 다 같은 값, 2개 가로방향(위아래), 세로방향(오왼)*/
}

.button-style:hover{
    box-shadow: 0 1px 1px rgb(0,0,0 / 10%); /*박스 뒤에 그림자를 주겠다*/
    /*첫번째 0 수평 이동 거리, 두번째 1px 수직 이동거리, 세번째 1px 그림자의 퍼지 정도, rgb 0,0,0 투명도 10% */
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}
/* 다리 */

.footer{
    position: absolute; /*절대값을 의미함 relative는 있던 위치 기준으로 움직임, absolute는 40px에 간다.*/
    bottom: 0px;
    background: #f2f2f2;
    width: 100%; /*위의 상단 자신의 부모에대한 100%*/
}

.first-line{
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size:15px;
    color : rgba(0,0,0,.54); /*마지막은 투명도 0은 완전투명하고 1은 완전 불투명 .54는 0.54라는 뜻이다.*/
}

.second-line{
    padding: 15px 30px;
    font-size:15px;
    color : rgba(0,0,0,.54);
}

.second-line-second{
    float:right;
}

.second-line a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.54);
    padding-right: 15px;
  }

  .second-line a:hover {
    text-decoration: underline;
  }